@model Nop.Web.Areas.Admin.Models.Markup.CategoryMarkupModel
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.CategoryMarkup.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("CategoryMarkup");
}

<form asp-controller="CategoryMarkup" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.CategoryMarkup.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.CategoryMarkup.EditDetails.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.StoreDetailsButtons, additionalData = Model })
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>