@import "../helpers/_helpers";

.html-password-recovery-page {

    .master-wrapper-page {
        .master-wrapper-content {
            width: auto;

            .topic-block {
                position: relative;

                .topic-block-title {
                    display: none;
                }

                .topic-block-body {
                    p {
                        img {
                            width: 100%;
                            height: 456px;
                        }
                    }
                }
            }
        }
    }

    .center-1 {
        @include media(small) {
            margin-bottom: 0px;
        }
    }

    .password-recovery-page {

        .page-title {
            margin-top: 46px;
            margin-bottom: 15px;

            @include media(small) {
                margin-top: 25px;
            }

            h1 {
                font-size: $fontSizeXML;
                color: $colorDarkGrey;

                @include media(small) {
                    font-size: $fontsizeMedium;
                }
            }
        }

        .tooltip {
            margin: 0px;
            opacity: 1;
            margin-bottom: 19px;
            border-bottom: none;
            margin: 0 0 27px;
            font-size: $fontSizeS;
            color: $colorDarklight;
            line-height: 1.5;
        }

        .fieldset {
            margin: 0px;

            .form-fields {
                position: relative;
                border-top: 1px solid $colorBorderLightGrey;
                background: none;
                padding: 47px 98px;

                @include media(small) {
                    padding: 20px 20px;
                }

                .inputs {
                    .required {
                        margin: 0px 0px 0 3px;
                    }
                }
            }

            .buttons {
                margin: 0px;
                margin-bottom: 50px;

                @include media(small) {
                    margin-bottom: 30px;
                }
            }
        }

        
    }
}

.password-recovery-custome {
    .result {
        justify-content: center;
        margin-bottom: 30px;
    }

    .page-title {
        @include media(small) {
            margin-top: 70px;
        }
    }

    form {
        max-width: 950px;
        margin: 0 auto;
        border: 1px solid $colorBorder;
        border-radius: $borderRadius;
    }
}