@model Nop.Plugin.Misc.ScheduledOrderCancel.Models.ConfigurationModel
@using Nop.Plugin.Misc.ScheduledOrderCancel
@using Nop.Services.Configuration
@using Nop.Core
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="ScheduledOrderCancel" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Misc.ScheduledOrderCancel")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Enabled_OverrideForStore" asp-input="Enabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Enabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Enabled" />
                                <span asp-validation-for="Enabled"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Time_OverrideForStore" asp-input="Time" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Time" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Time" />
                                <span asp-validation-for="Time"></span>
                            </div>
                        </div>
                        <div class="float-left">
                            <button type="submit" name="save" class="btn btn-primary">
                                <i class="far fa-save"></i>
                                @T("Admin.Common.Save")
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</form>