@model Nop.Web.Areas.Admin.Models.Slots.ZoneModel
@inject Nop.Services.Configuration.ISettingService settingService
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.Zones.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("SlotManagement");
}

<form asp-controller="Slot" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Zones.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Zone.List.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.StoreDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>